force-app/main/default/flows/BuscaTaxasTeste.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssigmentPercentValueTaxaAntecipacao</name>
        <label>Assigment Percent Value Taxa Antecipação</label>
        <locationX>336</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>PercentValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltraTaxaBaseadoNaOportunidade.PercentValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HasUnitPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentPercentValueTaxaProcessamento</name>
        <label>Assigment Percent Value Taxa Processamento</label>
        <locationX>864</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>PercentValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltraTaxaBaseadoNaOportunidade.PercentValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetTaxasAdjacentes</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentPercentValueTaxaSolucaoPagBrasil</name>
        <label>Assigment Percent Value Taxa Solução PagBrasil</label>
        <locationX>1128</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>PercentValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltraTaxaBaseadoNaOportunidade.PercentValue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HasUnitPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssigmentUnitPriceTaxaGateway</name>
        <label>Assigment UnitPrice Taxa Gateway</label>
        <locationX>600</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FiltraTaxaBaseadoNaOportunidade.UnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HasUnitPrice</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpportunityValuesAssignment</name>
        <label>Opportunity Values Assignment</label>
        <locationX>248</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>ProductClass</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpportunity.ProductClass__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TicketMedio</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpportunity.AverageSalesTicket__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IntegrationType</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpportunity.Integracao__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceitaMensal</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetOpportunity.previs_fat_rs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FiltraTaxaBaseadoNaOportunidade</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>HasPercentValue</name>
        <label>Has Percent Value</label>
        <locationX>446</locationX>
        <locationY>1421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasPercentValue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PercentValue</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaxaProcessamento</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasUnitPrice</name>
        <label>Has Unit Price</label>
        <locationX>248</locationX>
        <locationY>1313</locationY>
        <defaultConnector>
            <targetReference>HasPercentValue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasUnitPrice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>UnitPrice</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateTaxaProcessamento1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>TipoTaxa</name>
        <label>Tipo Taxa</label>
        <locationX>864</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>FiltraTaxaBaseadoNaOportunidade</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TaxaAntecipacao</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TaxaBaseAntecipacao</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.BusinessModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ReceitaMensalInicial__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReceitaMensal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ReceitaMensalFinal__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReceitaMensal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentPercentValueTaxaAntecipacao</targetReference>
            </connector>
            <label>Taxa Antecipação</label>
        </rules>
        <rules>
            <name>TaxaGateway1</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 OR 6 OR 7 ) AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TaxaGateway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Débito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.TicketInicial__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TicketMedio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.TicketFinal__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TicketMedio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ReceitaMensalInicial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ReceitaMensalFinal__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentUnitPriceTaxaGateway</targetReference>
            </connector>
            <label>Taxa Gateway</label>
        </rules>
        <rules>
            <name>TaxaProcessamento1</name>
            <conditionLogic>1 AND ( 2 OR 3 OR 4 OR 5 ) AND 6 AND 7 AND 8 AND 9</conditionLogic>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TaxaProcessamento</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pix</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Boleto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crédito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ProcessingType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Débito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.RangeFaixaInicial__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReceitaMensal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.RangeFaixaFinal__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReceitaMensal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.TicketInicial__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TicketMedio</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.TicketFinal__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>TicketMedio</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentPercentValueTaxaProcessamento</targetReference>
            </connector>
            <label>Taxa Processamento</label>
        </rules>
        <rules>
            <name>TaxaSolucaoPagBrasil</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 AND 5) OR (6 AND ( 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16))</conditionLogic>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.RecordTypeName__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TaxaSolucaoPagBrasil</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ReceitaMensalInicial__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReceitaMensal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.ReceitaMensalFinal__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>ReceitaMensal</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.BusinessModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intermediation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.BusinessModel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Gateway</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>API</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>JS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vtex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PB Checkout</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shopify</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shopify with Buda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shopify with Yampi</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shopify with Cart Panda</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Woocommerce</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FiltraTaxaBaseadoNaOportunidade.IntegrationType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Salesforce</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssigmentPercentValueTaxaSolucaoPagBrasil</targetReference>
            </connector>
            <label>Taxa Solução PagBrasil</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Busca Taxas - Teste {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Busca Taxas - Teste</label>
    <loops>
        <name>FiltraTaxaBaseadoNaOportunidade</name>
        <label>Filtra Taxa Baseado na Oportunidade</label>
        <locationX>248</locationX>
        <locationY>647</locationY>
        <collectionReference>GetCorrespondingTaxes</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>TipoTaxa</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>HasUnitPrice</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetCorrespondingTaxes</name>
        <label>Get Corresponding Taxes</label>
        <locationX>248</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>Get Opportunity</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpportunityValuesAssignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote.Opportunity.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetTaxasAdjacentes</name>
        <label>Get Taxas Adjacentes</label>
        <locationX>864</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>HasUnitPrice</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Taxes__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateTaxaProcessamento</name>
        <label>Update Taxa Processamento</label>
        <locationX>314</locationX>
        <locationY>1529</locationY>
        <inputAssignments>
            <field>IsMain__c</field>
            <value>
                <elementReference>IsMainTaxeField</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PercentValue__c</field>
            <value>
                <elementReference>PercentValue</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTaxaProcessamento1</name>
        <label>Update Taxa Processamento</label>
        <locationX>50</locationX>
        <locationY>1421</locationY>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>UnitPrice</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetCorrespondingTaxes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UseTaxa__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>BusinessModel</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IntegrationType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsMainTaxeField</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>PercentValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ProcessingType</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductClass</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReceitaMensal</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TicketMedio</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UnitPrice</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
