force-app/main/default/flows/CreateTicketZendesk.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>CreateTicket</name>
        <label>CreateTicket</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>CreateTicketMethod</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>dataCreateAccount</name>
            <value>
                <elementReference>GetOpportunity.DateAccountCreation__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>idOpportunity</name>
            <value>
                <elementReference>GetOpportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logoInsertionInBoleto</name>
            <value>
                <elementReference>LogoInsertionInBoleto</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>organizationId</name>
            <value>
                <elementReference>GetAccount.OrganizationId__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pagShieldActivationCheck</name>
            <value>
                <elementReference>PagShieldActivationCheck</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>paymentMethodsInFooter</name>
            <value>
                <elementReference>PaymentMethodsInFooter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>pods</name>
            <value>
                <elementReference>PODS</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>priority</name>
            <value>
                <elementReference>GetOpportunity.Priority__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>reclameAqui</name>
            <value>
                <elementReference>ReclameAqui</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>triggerIndication</name>
            <value>
                <elementReference>TriggerIndication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>visualIdentityManualRequest</name>
            <value>
                <elementReference>VisualIdentityManualRequest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>welcomeEmailAndTrainingLinks</name>
            <value>
                <elementReference>WelcomeEmailAndTrainingLinks</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CreateTicketMethod</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignmentPriority</name>
        <label>AssignmentPriority</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>GetOpportunity.Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Priority</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateTicket</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>AposIntegracao</name>
        <choiceText>Após Integração</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Após Integração</stringValue>
        </value>
    </choices>
    <choices>
        <description>Após Primeiro Pedido</description>
        <name>AposPrimeiroPedido</name>
        <choiceText>Após Primeiro Pedido</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Após Primeiro Pedido</stringValue>
        </value>
    </choices>
    <choices>
        <name>Imediatamente</name>
        <choiceText>Imediatamente</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Imediatamente</stringValue>
        </value>
    </choices>
    <decisions>
        <name>HasOrganization</name>
        <label>HasOrganization</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>SelectPriorityTicket</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NoHasOrganization</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAccount.OrganizationId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchOrgScreen</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>PriorityPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Create Ticket Zendesk {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Ticket Zendesk</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasOrganization</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <inputReference>GetAccount</inputReference>
    </recordUpdates>
    <screens>
        <name>SearchOrgScreen</name>
        <label>SearchOrgScreen</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
        <fields>
            <name>OrganizationZendesk</name>
            <extensionName>c:organizationZendesk</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>opportunityId</name>
                <value>
                    <elementReference>GetOpportunity.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>organizationId</name>
                <value>
                    <elementReference>GetAccount.OrganizationId__c</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>GetAccount.OrganizationId__c</assignToReference>
                <name>organizationId</name>
            </outputParameters>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectPriorityTicket</name>
        <label>SelectPriorityTicket</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AssignmentPriority</targetReference>
        </connector>
        <fields>
            <name>SelectPriorityTicket_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>SelectPriorityTicket_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Priority</name>
                    <choiceReferences>PriorityPicklist</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>GetOpportunity.Priority__c</elementReference>
                    </defaultValue>
                    <fieldText>Priority</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>GetOpportunity.DateAccountCreation__c</objectFieldReference>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Priority</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>P2</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectPriorityTicket_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PagShieldActivationCheck</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Conferência ativação do PagShield</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PaymentMethodsInFooter</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Formas de pagamento no rodapé</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>LogoInsertionInBoleto</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Inserção de logotipo no Boleto</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>ReclameAqui</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Reclame Aqui</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PODS</name>
                    <dataType>Boolean</dataType>
                    <fieldText>POD&apos;s</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>SelectPriorityTicket_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>VisualIdentityManualRequest</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Solicitação de manual de Identidade Visual em PDF com os vetores ou logo da marca em PDF, TIFF ou SVG</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>WelcomeEmailAndTrainingLinks</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Envio do e-mail de boas-vindas + link dos treinamentos:</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TriggerIndication</name>
                    <choiceReferences>Imediatamente</choiceReferences>
                    <choiceReferences>AposIntegracao</choiceReferences>
                    <choiceReferences>AposPrimeiroPedido</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Indicar Gatilho</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>WelcomeEmailAndTrainingLinks</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>organizationId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
