force-app/main/default/flows/CreateHomologationForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Form_Value</name>
        <label>Assign Form Value</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>FormHomologation.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.NumberOfDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Number_of_Days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.MccCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MCC_Code</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PodReminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>POD_Reminder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.AutomaticCancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Automatic_Cancellation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.CreditCardRecurrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Credit_Card_Recurrence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.InstallmentRecurrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Installment_Recurrence</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.DefaultSoftDescriptor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Default_Soft_Descriptor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.BankSlipEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Slip_Email_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PixEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pix_Email_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PaymentConfirmationEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Confirmation_Email_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PaymentLinkEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Link_Email_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.BankSlipSmsService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bank_Slip_SMS_Service</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.EmailPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Email_Package</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.SmsPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SMS_Package</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.OneClickBuyingTokenization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Click_Buying_Tokenization</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.AccountModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Account_Model</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.TransactionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transaction_Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.ReviewPayeeRegistration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Review_Payee_Registration</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PaymentAlert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Alert</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.BlockRefund__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Block_Refund</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existent_Form.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fields_Form_Homolog</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Form_Value_PT</name>
        <label>Assign Form Value PT</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>FormHomologation.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.NumberOfDays__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Numero_de_Dias</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.MccCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>codigo_mcc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PodReminder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lembrete_de_POD</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.AutomaticCancellation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cancelamento_Automatico</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.CreditCardRecurrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrencia_com_cartao_de_credito</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.InstallmentRecurrence__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Recorrencia_com_parcelamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.DefaultSoftDescriptor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Soft_Descriptor_padrao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.BankSlipEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servico_de_e_mail_de_Boleto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PixEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servico_de_e_mail_Pix</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PaymentConfirmationEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servico_de_e_mail_confirmacao_pagamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PaymentLinkEmailService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servico_de_e_mail_de_Payment_Link</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.BankSlipSmsService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Servico_de_SMS_de_Boleto</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.EmailPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pacote_e_mail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.SmsPackage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Pacote_SMS</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.OneClickBuyingTokenization__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>One_Click_Buying_tokenizacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.AccountModel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Modelo_de_Conta</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.TransactionType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Tipo_de_Transacao</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.ReviewPayeeRegistration__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Revisar_cadastro_de_recebedor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.PaymentAlert__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Alerta_de_pagamento</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.BlockRefund__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bloquear_reembolso</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FormHomologation.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Existent_Form.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Fields_Form_Homolog</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IdiomaUsuario</name>
        <label>IdiomaUsuário</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Preencher_Infos_Form_Homolog</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Ingles</defaultConnectorLabel>
        <rules>
            <name>Portugues</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preencher_Infos_Form_Homolog_PT</targetReference>
            </connector>
            <label>Portugues</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Model_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountModel__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bank_Slip_Email_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BankSlipEmailService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bank_Slip_SMS_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BankSlipSmsService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Credit_Card_Recurrence_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CreditCardRecurrence__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Installment_Recurrence_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InstallmentRecurrence__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Packages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EmailPackage__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Alert_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentAlert__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Confirmation_Email_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentConfirmationEmailService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pix_Email_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PixEmailService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pod_reminder_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PodReminder__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelatedContacts</name>
        <dataType>String</dataType>
        <displayField>Email</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Transaction_Type_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TransactionType__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Yes_Or_No_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AutomaticCancellation__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>NumbersOfDay</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Get_Existent_Form.NumberOfDays__c}), 2, {!Get_Existent_Form.NumberOfDays__c})</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>CreateHomologationForm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateHomologationForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existent_Form</name>
        <label>Get Existent Form</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Org_Address</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>URL__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>URL</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HomologationForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Ing_Email_Template</name>
        <label>Get Ing Email Template</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IdiomaUsuario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EmailToClientXBFormHomologation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existent_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Org_Address</name>
        <label>Get Org Address</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pt_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Address</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>naoresponda@pagbrasil.com.br</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OrgWideEmailAddress</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pt_Email_Template</name>
        <label>Get Pt Email Template</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ing_Email_Template</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email_To_Client_Form_Homologation</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Fields_Form_Homolog</name>
        <label>Update Fields Form Homolog</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <inputReference>FormHomologation</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Preencher_Infos_Form_Homolog</name>
        <label>Preencher Infos Form Homolog</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Form_Value</targetReference>
        </connector>
        <fields>
            <name>URLStore</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>URL</elementReference>
            </defaultValue>
            <fieldText>URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Configurations</name>
            <fieldText>Configurations</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configurations_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MCC_Code</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.MccCode__c</elementReference>
                    </defaultValue>
                    <fieldText>MCC Code</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Payment_Alert</name>
                    <choiceReferences>Payment_Alert_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PaymentAlert__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Alert</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configurations_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>POD_Reminder</name>
                    <choiceReferences>pod_reminder_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PodReminder__c</elementReference>
                    </defaultValue>
                    <fieldText>POD Reminder</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Segmento__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dropshipping</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Block_Refund</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.BlockRefund__c</elementReference>
                    </defaultValue>
                    <fieldText>Block Refund</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Products_Bank_Slip</name>
            <fieldText>Products - Bank Slip</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Products_Bank_Slip_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Automatic_Cancellation</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.AutomaticCancellation__c</elementReference>
                    </defaultValue>
                    <fieldText>Automatic Cancelation</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Products_Bank_Slip_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Number_of_Days</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>NumbersOfDay</elementReference>
                    </defaultValue>
                    <fieldText>Number of Days</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Minimum value is 2.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Number_of_Days} &gt;= 2</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Metodos_Pagamento__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Boleto Flash</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Products_Credit_Card</name>
            <fieldText>Products - Credit Card</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Products_Credit_Card_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Credit_Card_Recurrence</name>
                    <choiceReferences>Credit_Card_Recurrence_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.CreditCardRecurrence__c</elementReference>
                    </defaultValue>
                    <fieldText>Credit Card Recurrence</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Ativação da tokenizaçao do cartão para compras à vista. &lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>JS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>API</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Installment_Recurrence</name>
                    <choiceReferences>Installment_Recurrence_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.InstallmentRecurrence__c</elementReference>
                    </defaultValue>
                    <fieldText>Installment Recurrence</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Ativação da tokenização do cartão para compras parceladas&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>JS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>API</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Products_Credit_Card_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Default_Soft_Descriptor</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.DefaultSoftDescriptor__c</elementReference>
                    </defaultValue>
                    <fieldText>Default Soft Descriptor</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;O campo pode conter no máximo 13 caracteres, incluindo espaços.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Default_Soft_Descriptor}) &gt; 13</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Metodos_Pagamento__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cartão de Crédito Nacional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>E_mail_SMS</name>
            <fieldText>E-mail SMS</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>E_mail_SMS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Slip_Email_Service</name>
                    <choiceReferences>Bank_Slip_Email_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.BankSlipEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank Slip Email Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pix_Email_Service</name>
                    <choiceReferences>Pix_Email_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PixEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Pix Email Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Payment_Confirmation_Email_Service</name>
                    <choiceReferences>Payment_Confirmation_Email_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PaymentConfirmationEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Confirmation Email Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Payment_Link_Email_Service</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PaymentLinkEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Link Email Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>E_mail_SMS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Slip_SMS_Service</name>
                    <choiceReferences>Bank_Slip_SMS_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.BankSlipSmsService__c</elementReference>
                    </defaultValue>
                    <fieldText>Bank Slip SMS Service</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Email_Package</name>
                    <choiceReferences>Packages</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.EmailPackage__c</elementReference>
                    </defaultValue>
                    <fieldText>Email Package</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>SMS_Package</name>
                    <choiceReferences>Packages</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.SmsPackage__c</elementReference>
                    </defaultValue>
                    <fieldText>SMS Package</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Shopify_Payment_Link</name>
            <fieldText>Shopify - Payment Link</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Shopify_Payment_Link_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>One_Click_Buying_Tokenization</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.OneClickBuyingTokenization__c</elementReference>
                    </defaultValue>
                    <fieldText>One-Click Buying / Tokenization</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Payout</name>
            <fieldText>Payout</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Payout_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account_Model</name>
                    <choiceReferences>Account_Model_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.AccountModel__c</elementReference>
                    </defaultValue>
                    <fieldText>Account Model</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Transaction_Type</name>
                    <choiceReferences>Transaction_Type_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.TransactionType__c</elementReference>
                    </defaultValue>
                    <fieldText>Transaction Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Payout_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Review_Payee_Registration</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.ReviewPayeeRegistration__c</elementReference>
                    </defaultValue>
                    <fieldText>Review Payee Registration</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Payout__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Select_the_Contact</name>
            <fieldText>Select the Contact:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Select_the_Contact_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_to_Send_Email</name>
                    <choiceReferences>RelatedContacts</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Contact to Send Email</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Preencher_Infos_Form_Homolog_PT</name>
        <label>Preencher Infos Form Homolog PT</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_Form_Value_PT</targetReference>
        </connector>
        <fields>
            <name>StoreURL</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>URL</elementReference>
            </defaultValue>
            <fieldText>URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isDisabled>
                <booleanValue>true</booleanValue>
            </isDisabled>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Configuracoes</name>
            <fieldText>Configurações</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Configuracoes_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>codigo_mcc</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.MccCode__c</elementReference>
                    </defaultValue>
                    <fieldText>Código MCC</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Alerta_de_pagamento</name>
                    <choiceReferences>Payment_Alert_Choices</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PaymentAlert__c</elementReference>
                    </defaultValue>
                    <fieldText>Alerta de pagamento</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Configuracoes_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lembrete_de_POD</name>
                    <choiceReferences>pod_reminder_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PodReminder__c</elementReference>
                    </defaultValue>
                    <fieldText>Lembrete de POD</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.Segmento__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Dropshipping</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Bloquear_reembolso</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.BlockRefund__c</elementReference>
                    </defaultValue>
                    <fieldText>Bloquear reembolso</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Produtos_Boleto</name>
            <fieldText>Produtos - Boleto</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Produtos_Boleto_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cancelamento_Automatico</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.AutomaticCancellation__c</elementReference>
                    </defaultValue>
                    <fieldText>Cancelamento Automático</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Produtos_Boleto_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Numero_de_Dias</name>
                    <dataType>Number</dataType>
                    <defaultValue>
                        <elementReference>NumbersOfDay</elementReference>
                    </defaultValue>
                    <fieldText>Número de Dias</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <validationRule>
                        <errorMessage>&lt;p&gt;O valor mínimo é 2.&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!Numero_de_Dias} &gt;= 2</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Metodos_Pagamento__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Boleto Flash</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Produtos_Cartao_de_Credito</name>
            <fieldText>Produtos - Cartão de Crédito</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Produtos_Cartao_de_Credito_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recorrencia_com_cartao_de_credito</name>
                    <choiceReferences>Credit_Card_Recurrence_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.CreditCardRecurrence__c</elementReference>
                    </defaultValue>
                    <fieldText>Recorrência com cartão de crédito</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Ativação da tokenizaçao do cartão para compras à vista. &lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>JS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>API</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Recorrencia_com_parcelamento</name>
                    <choiceReferences>Installment_Recurrence_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.InstallmentRecurrence__c</elementReference>
                    </defaultValue>
                    <fieldText>Recorrência com parcelamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Segoe UI&amp;quot;, &amp;quot;Segoe UI Web (West European)&amp;quot;, -apple-system, BlinkMacSystemFont, Roboto, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(51, 51, 51);&quot;&gt;Ativação da tokenização do cartão para compras parceladas&lt;/span&gt;&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>JS</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Get_Opportunity.IntegrationType__c</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>API</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Produtos_Cartao_de_Credito_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Soft_Descriptor_padrao</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.DefaultSoftDescriptor__c</elementReference>
                    </defaultValue>
                    <fieldText>Soft Descriptor padrão</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <validationRule>
                        <errorMessage>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 0, 0);&quot;&gt;O campo pode conter no máximo 13 caracteres, incluindo espaços.&lt;/span&gt;&lt;/p&gt;</errorMessage>
                        <formulaExpression>LEN({!Soft_Descriptor_padrao}) &gt; 13</formulaExpression>
                    </validationRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Metodos_Pagamento__c</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <stringValue>Cartão de Crédito Nacional</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>C_pia_1_de_E_mail_SMS</name>
            <fieldText>E-mail SMS</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>C_pia_1_de_E_mail_SMS_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Servico_de_e_mail_de_Boleto</name>
                    <choiceReferences>Bank_Slip_Email_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.BankSlipEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Serviço de e-mail de Boleto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Servico_de_e_mail_Pix</name>
                    <choiceReferences>Pix_Email_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PixEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Serviço de e-mail Pix</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Servico_de_e_mail_confirmacao_pagamento</name>
                    <choiceReferences>Payment_Confirmation_Email_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PaymentConfirmationEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Serviço de e-mail confirmação pagamento</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Servico_de_e_mail_de_Payment_Link</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.PaymentLinkEmailService__c</elementReference>
                    </defaultValue>
                    <fieldText>Serviço de e-mail de Payment Link</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>C_pia_1_de_E_mail_SMS_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Servico_de_SMS_de_Boleto</name>
                    <choiceReferences>Bank_Slip_SMS_Service_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.BankSlipSmsService__c</elementReference>
                    </defaultValue>
                    <fieldText>Serviço de SMS de Boleto</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pacote_e_mail</name>
                    <choiceReferences>Packages</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.EmailPackage__c</elementReference>
                    </defaultValue>
                    <fieldText>Pacote e-mail</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Pacote_SMS</name>
                    <choiceReferences>Packages</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.SmsPackage__c</elementReference>
                    </defaultValue>
                    <fieldText>Pacote SMS</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>C_pia_1_de_Shopify_Payment_Link</name>
            <fieldText>Shopify - Payment Link</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>C_pia_1_de_Shopify_Payment_Link_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>One_Click_Buying_tokenizacao</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.OneClickBuyingTokenization__c</elementReference>
                    </defaultValue>
                    <fieldText>One-Click Buying / tokenização</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>C_pia_1_de_Payout</name>
            <fieldText>Payout</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>C_pia_1_de_Payout_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Modelo_de_Conta</name>
                    <choiceReferences>Account_Model_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.AccountModel__c</elementReference>
                    </defaultValue>
                    <fieldText>Modelo de Conta</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tipo_de_Transacao</name>
                    <choiceReferences>Transaction_Type_Values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.TransactionType__c</elementReference>
                    </defaultValue>
                    <fieldText>Tipo de Transação</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>C_pia_1_de_Payout_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Revisar_cadastro_de_recebedor</name>
                    <choiceReferences>Yes_Or_No_values</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Existent_Form.ReviewPayeeRegistration__c</elementReference>
                    </defaultValue>
                    <fieldText>Revisar cadastro de recebedor</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Get_Opportunity.Payout__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>C_pia_1_de_Selecione_o_contato</name>
            <fieldText>Selecione o contato:</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>C_pia_1_de_Selecione_o_contato_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Qual_contato_ira_receber_o_e_mail</name>
                    <choiceReferences>RelatedContacts</choiceReferences>
                    <extensionName>flowruntime:choiceLookup</extensionName>
                    <fieldText>Qual contato irá receber o e-mail?</fieldText>
                    <fieldType>ComponentChoice</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Avançar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FormHomologation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HomologationForm__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>URL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
