force-app/main/default/flows/Opp_MOCK_KYC_Criation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>type</name>
        <label>type</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KYC_XB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crossborder</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_KYC_XB</targetReference>
            </connector>
            <label>KYC - XB</label>
        </rules>
        <rules>
            <name>KYC_NB</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NaTional</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYC_NB_Record</targetReference>
            </connector>
            <label>KYC - NB</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>formulaUniqueID</name>
        <dataType>String</dataType>
        <expression>&quot;UniqueID&quot; + {!$Record.Id}</expression>
    </formulas>
    <interviewLabel>Opp - MOCK - KYC Criation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opp - KYC and RCC Criation (NEW)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_KYC_XB</name>
        <label>create KYC XB</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>create_RCC_when_KYC_XB</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Number__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Link__c</field>
            <value>
                <elementReference>formulaUniqueID</elementReference>
            </value>
        </inputAssignments>
        <object>KYC_XB__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_RCC_when_KYC_NB</name>
        <label>create RCC when KYC NB</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>create_RCC_when_KYC_XB</name>
        <label>create RCC when KYC XB</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>KYC_NB_Record</name>
        <label>KYC - NB</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>create_RCC_when_KYC_NB</targetReference>
        </connector>
        <inputAssignments>
            <field>Client_Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage_Number__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unique_Link__c</field>
            <value>
                <elementReference>formulaUniqueID</elementReference>
            </value>
        </inputAssignments>
        <object>KYC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>Update_New_Opportunity</name>
        <label>Update New Opportunity</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>type</targetReference>
        </connector>
        <inputAssignments>
            <field>Is_Opportunity_Valid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Old_Opportunities</name>
        <label>Update Old Opportunities</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <connector>
            <targetReference>Update_New_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Opportunity_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Opportunity_Valid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Old_Opportunities</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
