force-app/main/default/flows/Opportunity_Valid_And_Invalid_Opportunity_Actions.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Opportunities_Amount</name>
        <label>Opportunities Amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>recordsAmount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Valid_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_This_Opportunity_Valid</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Valid_Opportunities_URL_Population</name>
        <label>Valid Opportunity URL Population</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>allValidOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;&lt;a href=&quot;/lightning/r/Opportunity/</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allValidOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allValidOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>/view&quot; target=&quot;_self&quot;&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allValidOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>For_Each_Opportunity.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>allValidOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;/a&gt;&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>For_Each_Opportunity</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>I_know_what_I_m_doing_leave_it_be</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;I know what I&apos;m doing, leave it be&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> I know what I&apos;m doing, leave it be</stringValue>
        </value>
    </choices>
    <choices>
        <name>Make_all_opportunities_on_this_account_invalid</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Make &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;ALL&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; opportunities on this account &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;INVALID&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Make all opportunities on this account invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Make_other_valid_opportunities_invalid</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Make other &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;VALID&lt;/strong&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt; opportunities on this account &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;INVALID&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Make other valid opportunities invalid</stringValue>
        </value>
    </choices>
    <choices>
        <name>Make_this_opportunity_INVALID</name>
        <choiceText>&lt;span style=&quot;font-size: 16px;&quot;&gt;Make this opportunity &lt;/span&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;INVALID&lt;/strong&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue> Make this opportunity INVALID</stringValue>
        </value>
    </choices>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>At_Least_1_Contact_In_This_Account</name>
        <label>At Least 1 Contact In This Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Warning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Zero</defaultConnectorLabel>
        <rules>
            <name>One_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contacts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Valid_Opportunities</targetReference>
            </connector>
            <label>One or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>How_Much</name>
        <label>How Much?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_The_Only_One_Valid_Opportunity</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>1</defaultConnectorLabel>
        <rules>
            <name>X2_Or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordsAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_with_2_valid_opportunities</targetReference>
            </connector>
            <label>2 Or More</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_At_Least_One_Other</name>
        <label>Is There At Least One Other?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Valid_Opportunities</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordsAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>How_Much</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_At_Least_One_Other2</name>
        <label>Is There At Least One Other</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Nothing_to_Show</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordsAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Problem_With_This_And_More_Opps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_Opportunity_Valid</name>
        <label>Is This Opportunity Valid?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Is_There_At_Least_One_Other</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Valid</defaultConnectorLabel>
        <rules>
            <name>Valid</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_This_Opportunity.Is_Opportunity_Valid__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_There_At_Least_One_Other2</targetReference>
            </connector>
            <label>Valid</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_choice_was_made</name>
        <label>What choice was made?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Refresh_The_Page</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>4</defaultConnectorLabel>
        <rules>
            <name>X1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Make_this_opportunity_INVALID</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choice_1</targetReference>
            </connector>
            <label>1</label>
        </rules>
        <rules>
            <name>X2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Make_other_valid_opportunities_invalid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choice_2</targetReference>
            </connector>
            <label>2</label>
        </rules>
        <rules>
            <name>X3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Choose_an_option</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Make_all_opportunities_on_this_account_invalid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Choice_3</targetReference>
            </connector>
            <label>3</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[Opportunity] Valid Opportunity Actions {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Valid And Invalid Opportunity Actions</label>
    <loops>
        <name>For_Each_Opportunity</name>
        <label>For Each Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Valid_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Valid_Opportunities_URL_Population</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunities_Amount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contacts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_This_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contacts</name>
        <label>Get Contacts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>At_Least_1_Contact_In_This_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_The_Only_One_Valid_Opportunity</name>
        <label>Get The Only One Valid Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Only_1_Opp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_This_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Opportunity_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_This_Opportunity</name>
        <label>Get This Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Valid_Opportunities</name>
        <label>Get Valid Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>For_Each_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_This_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Opportunity_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Choice_1</name>
        <label>Choice 1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_The_Page</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Opportunity_Valid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Choice_2</name>
        <label>Choice 2</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_The_Page</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_This_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Opportunity_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Opportunity_Valid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Choice_3</name>
        <label>Choice 3</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_The_Page</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>ErrorScreen1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_This_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Opportunity_Valid__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Opportunity_Valid__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_This_Opportunity</name>
        <label>Update This Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Refresh_The_Page</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Opportunity_Valid__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>ErrorScreen1</name>
        <label>ErrorScreen1</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorText1</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;font-size: 12px; color: rgb(255, 0, 0);&quot;&gt;An error has occurred. Your opportunity and/or its respective account are probably old and have inconsistencies in their status. Contact your System Administrator to resolve the problem.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>No_Valid_Opportunities</name>
        <label>No Valid Opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_This_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Text4</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This opportunity is not valid, but there is no other valid opportunity for this same account.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Make This Opportunity Valid</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Nothing_to_Show</name>
        <label>Nothing to Show</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Only_1_Opp</name>
        <label>Only 1 Opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refresh_The_Page</targetReference>
        </connector>
        <fields>
            <name>Text1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This opportunity is invalid, as there is already another valid opportunity for this same account:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;/lightning/r/Opportunity/{!Get_The_Only_One_Valid_Opportunity.Id}/view&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 16px;&quot;&gt;{!Get_The_Only_One_Valid_Opportunity.Name}&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Problem_with_2_valid_opportunities</name>
        <label>Problem with 2 valid opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Refresh_The_Page</targetReference>
        </connector>
        <fields>
            <name>Text2</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This opportunity is invalid, so it cannot be modified, but there are {!recordsAmount} valid opportunities for this account, access one of them to make it invalid:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AllValidOppsLinks</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px; color: rgb(42, 116, 202);&quot;&gt;{!allValidOpps}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Problem_With_This_And_More_Opps</name>
        <label>Problem With This And More Opps</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>What_choice_was_made</targetReference>
        </connector>
        <fields>
            <name>ChooseOneOption</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;This opportunity is valid, but there are other valid opportunities too, so you need to choose one of the options below:&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Choose_an_option</name>
            <choiceReferences>Make_this_opportunity_INVALID</choiceReferences>
            <choiceReferences>Make_other_valid_opportunities_invalid</choiceReferences>
            <choiceReferences>Make_all_opportunities_on_this_account_invalid</choiceReferences>
            <choiceReferences>I_know_what_I_m_doing_leave_it_be</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Choose an option</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Confirm Choice</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Refresh_The_Page</name>
        <label>Refresh The Page</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>RefreshPage</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(255, 238, 0);&quot;&gt;&lt;em&gt;To make all changes, please refresh the page.&lt;/em&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;The account for this opportunity does not have any contacts, add at least one to continue the flow.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_This_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>allValidOpps</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordsAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
