force-app/main/default/flows/Opportunity_Closed_Opportunity_Screen.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Clean_Error_Text</name>
        <label>Clean Error Text</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Which_one_was_clicked</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>errorText_Set</name>
        <label>errorText Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You need to click at least once in any of the buttons.</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Close_Opportunity_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Loss_Reason_Set</name>
        <label>Loss Reason Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Loss_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loss_Reason</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>No_Loss_Reason_Error_Text_Set</name>
        <label>No Loss Reason Error Text Set</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>errorText</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Loss_Reason_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Closed_Lost</name>
        <label>Set as Closed Lost</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>closedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loss_Reason_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_as_Closed_Terminated</name>
        <label>Set as Closed Terminated</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>closedStatus</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed Terminated</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Closed_Status_Screen</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>The_Loss_Reason_Has_Been_Filled</name>
        <label>The Loss Reason Has Been Filled?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>No_Loss_Reason_Error_Text_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.Loss_Reason__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Stage_Update</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_one_was_clicked</name>
        <label>Which one was clicked?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>errorText_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Error</defaultConnectorLabel>
        <rules>
            <name>Close_as_Terminated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClosedTerminated.Results.closedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Terminated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_Closed_Terminated</targetReference>
            </connector>
            <label>Close as Terminated</label>
        </rules>
        <rules>
            <name>Close_as_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClosedLost.Results.closedStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_as_Closed_Lost</targetReference>
            </connector>
            <label>Close as Lost</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>lossReasonPicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Loss_Reason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>buttonLabel</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!ClosedTerminated.Results.closedStatus}) &amp;&amp; ISBLANK({!ClosedLost.Results.closedStatus}),
  &quot;Close&quot;,
  &quot;Confirm&quot;
)</expression>
    </formulas>
    <interviewLabel>[Opportunity] Closed Opportunity Screen {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Closed Opportunity Screen</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Close_Opportunity_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>The_Loss_Reason_Has_Been_Filled</targetReference>
        </connector>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <screens>
        <name>Close_Opportunity_Screen</name>
        <label>Close Opportunity Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actions>
            <name>ClosedTerminated</name>
            <actionName>Opportunity_Update_to_Closed_Opportunity</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>closedStatus</name>
                <value>
                    <stringValue>Closed Terminated</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>[Opportunity] Update to Closed Opportunity</label>
            <nameSegment>Opportunity_Update_to_Closed_Opportunity</nameSegment>
        </actions>
        <actions>
            <name>ClosedLost</name>
            <actionName>Opportunity_Update_to_Closed_Opportunity</actionName>
            <actionType>flow</actionType>
            <inputParameters>
                <name>closedStatus</name>
                <value>
                    <stringValue>Closed Lost</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <label>[Opportunity] Update to Closed Opportunity</label>
            <nameSegment>Opportunity_Update_to_Closed_Opportunity</nameSegment>
        </actions>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Clean_Error_Text</targetReference>
        </connector>
        <fields>
            <name>CloseOpportunity</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Close Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;You must close this opportunity as terminated (&lt;u&gt;Close as Terminated&lt;/u&gt; button) or lost (&lt;u&gt;Close as Lost&lt;/u&gt; button)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Close_Opportunity_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Close_Opportunity_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CloseAsTerminated</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Close as Terminated</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>ClosedTerminated.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>ClosedTerminated.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>ClosedTerminated.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>middle</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>CloseAsLost</name>
                    <extensionName>flowruntime:actionButtonField</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Close as Lost</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isSuccess</name>
                        <value>
                            <elementReference>ClosedLost.IsSuccess</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inProgress</name>
                        <value>
                            <elementReference>ClosedLost.InProgress</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>errorMessage</name>
                        <value>
                            <elementReference>ClosedLost.ErrorMessage</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>middle</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>6</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Close_Opportunity_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Show_Error</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!errorText}&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>middle</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>errorText</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>CloseAsTerminated</eventSource>
            <handlers>
                <screenActionName>ClosedTerminated</screenActionName>
            </handlers>
        </triggers>
        <triggers>
            <eventName>flow__screenfieldclick</eventName>
            <eventSource>CloseAsLost</eventSource>
            <handlers>
                <screenActionName>ClosedLost</screenActionName>
            </handlers>
        </triggers>
    </screens>
    <screens>
        <name>Closed_Status_Screen</name>
        <label>Closed Status Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Final_Text</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Close Opportunity&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Your opportunity has been closed as &quot;&lt;em&gt;&lt;u&gt;{!closedStatus}&lt;/u&gt;&lt;/em&gt;&quot;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Loss_Reason_Screen</name>
        <label>Loss Reason Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Loss_Reason_Set</targetReference>
        </connector>
        <fields>
            <name>Loss_Reason</name>
            <choiceReferences>lossReasonPicklistValues</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Loss Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>No_Loss_Reason_Warning</name>
            <fieldText>&lt;p&gt;&lt;em style=&quot;color: rgb(255, 0, 0);&quot;&gt;You need to enter a loss reason to set an opportunity as Loss.&lt;/em&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Opportunity_Stage_Update</name>
        <label>Opportunity Stage Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Closed_Status_Screen</targetReference>
        </connector>
        <flowName>Opportunity_Update_to_Closed_Opportunity</flowName>
        <inputAssignments>
            <name>closedStatus</name>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>lossReason</name>
            <value>
                <elementReference>Get_Opportunity.Loss_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>closedStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>errorText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
