force-app/main/default/flows/Opportunity_Confirm_Accounts_Compliance_Stage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Homologation_Form_NB</name>
        <label>Create Homologation Form NB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HomologationFormCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Store_URL_NB</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomologationFormCreate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Create_Homologation_Form_XB</name>
        <label>Create Homologation Form XB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>HomologationFormCreate</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Opportunity_Stage</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>Store_URL_XB</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomologationFormCreate</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Is_Opportunity_XB_or_NB</name>
        <label>Is Opportunity XB or NB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_KYC_NB</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NB</defaultConnectorLabel>
        <rules>
            <name>XB</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Crossborder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pix_International_Pix_Roaming</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KYC_XB</targetReference>
            </connector>
            <label>XB</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Confirm Accounts (Compliance Stage) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Confirm Accounts (Compliance Stage) (NEW)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_KYC_NB</name>
        <label>Get KYC_NB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NB_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Link__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.KYC_NB_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_KYC_XB</name>
        <label>Get KYC_XB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>XB_Screen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Unique_Link__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.KYC_XB_Number__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC_XB__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Opportunity_XB_or_NB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>{!recordId}</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_KYC_NB</name>
        <label>Update KYC_NB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Homologation_Form_NB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>URLs_Quantity__c</field>
            <value>
                <elementReference>Get_KYC_NB.URLs_Quantity__c</elementReference>
            </value>
        </inputAssignments>
        <object>KYC__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_KYC_XB</name>
        <label>Update KYC_XB</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Homologation_Form_XB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_KYC_XB.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>URLs_Quantity__c</field>
            <value>
                <elementReference>URLs_Quantity_Crossborder</elementReference>
            </value>
        </inputAssignments>
        <object>KYC_XB__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity_Stage</name>
        <label>Update Opportunity Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>NB_Screen</name>
        <label>NB Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_KYC_NB</targetReference>
        </connector>
        <fields>
            <name>URLs_Quantity_National</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_KYC_NB.URLs_Quantity__c</elementReference>
            </defaultValue>
            <fieldText>URLs Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Store_URL_NB</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_KYC_NB.Store_URL__c</elementReference>
            </defaultValue>
            <fieldText>Store URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>XB_Screen</name>
        <label>XB Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_KYC_XB</targetReference>
        </connector>
        <fields>
            <name>URLs_Quantity_Crossborder</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>Get_KYC_XB.URLs_Quantity__c</elementReference>
            </defaultValue>
            <fieldText>URLs Quantity</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Store_URL_XB</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_KYC_XB.Store_URL__c</elementReference>
            </defaultValue>
            <fieldText>Store URL</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
