force-app/main/default/flows/Quote_Action_Proposal_Acceptance_From_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>docsIds_assign</name>
        <label>docsIds assign</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>docsIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_1.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Record_Initial_Infos</name>
        <label>Set Record Initial Infos</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_content.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_content.Title</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>screen_AcceptanceForm</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecordInfo</name>
        <label>Set Record Info</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Synced_Quote_From_Opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_content.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_content.Title</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.CustomerAcceptance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_quote</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>hasDocumentRelated</name>
        <label>Has Document Related?</label>
        <locationX>182</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screen_NoDocument</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Quote_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Record_Initial_Infos</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Quote[Action] - Proposal Acceptance from Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity[Action] - Quote Proposal Acceptance</label>
    <loops>
        <name>Loop_1</name>
        <label>Loop 1</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>get_Quote_Document</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>docsIds_assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_content</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_history_record</name>
        <label>create history record</label>
        <locationX>50</locationX>
        <locationY>1514</locationY>
        <connector>
            <targetReference>Update_opportunity</targetReference>
        </connector>
        <inputReference>customerProposalHistory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_content</name>
        <label>get content</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasDocumentRelated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>docsIds</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>Proposal_</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <sortField>Title</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Quote_Document</name>
        <label>get Quote Document</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_NoDocument</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunityRecord.SyncedQuoteId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Synced_Quote_From_Opportunity</name>
        <label>Get Synced Quote From Opportunity</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Quote_Document</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunityRecord.SyncedQuote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOpportunityRecord</name>
        <label>get Opportunity Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Synced_Quote_From_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_opportunity</name>
        <label>Update opportunity</label>
        <locationX>50</locationX>
        <locationY>1622</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getOpportunityRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>OpportunityKYCLegalApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityRCCLegalApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Contract</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_other_quotes</name>
        <label>Update other quotes</label>
        <locationX>50</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>create_history_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>Get_Synced_Quote_From_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherQuoteAccepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_quote</name>
        <label>Update selected quote</label>
        <locationX>50</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_other_quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Synced_Quote_From_Opportunity.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustomerAcceptance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>screen_AcceptanceForm</name>
        <label>screen_AcceptanceForm</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>setRecordInfo</targetReference>
        </connector>
        <fields>
            <name>Quote_Detail_Information</name>
            <fieldText>Quote Detail Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Detail_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Synced_Quote_From_Opportunity.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Detail_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteStatus</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Synced_Quote_From_Opportunity.Status</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Detail_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteIsSync</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Synced_Quote_From_Opportunity.IsSyncing</elementReference>
                    </defaultValue>
                    <fieldText>Is Syncing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Detail_Information_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteDocumentName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_content.Title</elementReference>
                    </defaultValue>
                    <fieldText>Document Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Accept Quote</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoDocument</name>
        <label>screen_NoDocument</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgNoDocumentFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Não foi possível encontrar nenhum documento relacionado a essa cotação.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOpportunityRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>customerProposalHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerProposal__c</objectType>
    </variables>
    <variables>
        <name>docsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
