force-app/main/default/flows/Quote_Action_proposal_acceptance_form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setRecordInfo</name>
        <label>Set Record Info</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Quote_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Quote_Document.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.CustomerAcceptance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>yes</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_quote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setRecordInfoReason</name>
        <label>Set Record Info Reason</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.QuoteDocumentId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Quote_Document.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Quote_Document.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.WhyRejected__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>field_ReasonToNoAccepted</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>customerProposalHistory.CustomerAcceptance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_selected_quote</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>hasDocumentRelated</name>
        <label>Has Document Related?</label>
        <locationX>644</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>screen_NoDocument</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesDoc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Quote_Document</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_AcceptanceForm</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_a_quote_accepted</name>
        <label>Is there a quote accepted?</label>
        <locationX>347</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>get_Quote_Document</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetAllQuotesRelatedtoOpportunity</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screen_alreadyHasQuote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Quote_Accepted</name>
        <label>Quote Accepted?</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>screen_ReasonToNoAccepted</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>field_AcceptanceFlag.value</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setRecordInfo</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Formulário de aceite de proposta, será exibido em uma action no registro da cotação.</description>
    <environments>Default</environments>
    <interviewLabel>Quote[Action] - form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote[Action] - proposal acceptance form (from opportunity)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_history_record</name>
        <label>create history record</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <inputReference>customerProposalHistory</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Quote_Document</name>
        <label>get Quote Document</label>
        <locationX>644</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasDocumentRelated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>screen_NoDocument</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>QuoteDocument</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAllQuotesRelatedtoOpportunity</name>
        <label>Get All Quotes Related to Opportunity</label>
        <locationX>347</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_there_a_quote_accepted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuoteRecord.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CustomerAcceptance__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQuoteRecord</name>
        <label>get Quote Record</label>
        <locationX>347</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAllQuotesRelatedtoOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_selected_quote</name>
        <label>Update selected quote</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>create_history_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustomerAcceptance__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_other_quotes</name>
        <label>Update other quotes</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <connector>
            <targetReference>create_history_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQuoteRecord.OpportunityId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OtherQuoteAccepted__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_quote</name>
        <label>Update selected quote</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Update_other_quotes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CustomerAcceptance__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>screen_AcceptanceForm</name>
        <label>screen_AcceptanceForm</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Quote_Accepted</targetReference>
        </connector>
        <fields>
            <name>Quote_Detail_Information</name>
            <fieldText>Quote Detail Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Quote_Detail_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getQuoteRecord.Name</elementReference>
                    </defaultValue>
                    <fieldText>Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Detail_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteStatus</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getQuoteRecord.Status</elementReference>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Detail_Information_Column3</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteIsSync</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getQuoteRecord.IsSyncing</elementReference>
                    </defaultValue>
                    <fieldText>Is Syncing</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Quote_Detail_Information_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>field_ROQuoteDocumentName</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>get_Quote_Document.Name</elementReference>
                    </defaultValue>
                    <fieldText>Document Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isReadOnly>
                        <booleanValue>true</booleanValue>
                    </isReadOnly>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>screen_AcceptanceForm_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>screen_AcceptanceForm_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>space</name>
                    <fieldText>&lt;p&gt;   &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>field_AcceptanceFlag</name>
                    <extensionName>flowruntime:toggle</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accept quote?</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_AcceptanceForm_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>screen_AcceptanceForm_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_alreadyHasQuote</name>
        <label>screen_alreadyHasQuote</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>msgHasQuote</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 0, 0);&quot;&gt;Já existe proposta aceita pelo cliente.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_NoDocument</name>
        <label>screen_NoDocument</label>
        <locationX>1106</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msgNoDocumentFound</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 0);&quot;&gt;Não foi possível encontrar nenhum documento relacionado a essa cotação.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screen_ReasonToNoAccepted</name>
        <label>screen_ReasonToNoAccepted</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>setRecordInfoReason</targetReference>
        </connector>
        <fields>
            <name>field_ReasonToNoAccepted</name>
            <fieldText>Reason to reject</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;Justify why this quote was not accepted.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getQuoteRecord</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>customerProposalHistory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CustomerProposal__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
