force-app/main/default/flows/RCC.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Results_Questions</name>
        <label>Assignment Results Questions</label>
        <locationX>446</locationX>
        <locationY>2450</locationY>
        <assignmentItems>
            <assignToReference>SavedQuestion_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_9</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Validate_Exist_RCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Score_Em_Partes</name>
        <label>Calculate Score Em Partes</label>
        <locationX>2470</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateRiskInParts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Score_No</name>
        <label>Calculate Score No</label>
        <locationX>2734</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateScoreNoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Score_Yes</name>
        <label>Calculate Score Yes</label>
        <locationX>2206</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk.Risco__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Lists</name>
        <label>Clear Lists</label>
        <locationX>446</locationX>
        <locationY>2858</locationY>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>QuestionAndResponse</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>FormularioRCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Score</name>
        <label>Clear Score</label>
        <locationX>446</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateListQuestionAndResponse</name>
        <label>Populate List Question And Response</label>
        <locationX>446</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Population_Fields_Form</name>
        <label>Population Fields Form</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>SavedQuestion_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.MerchantDemand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ForecastSales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.DescriptionIsClear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.QualityProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ActivityRestricted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.PresenceMarket__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Reputation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.RealisticForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.WhoNegotiated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.CheckID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Risk__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetExtreme</name>
        <label>SetExtreme</label>
        <locationX>842</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>FinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extremo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetHigh</name>
        <label>SetHigh</label>
        <locationX>578</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>FinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLow</name>
        <label>SetLow</label>
        <locationX>50</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>FinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMedium</name>
        <label>SetMedium</label>
        <locationX>314</locationX>
        <locationY>2258</locationY>
        <assignmentItems>
            <assignToReference>FinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Médio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceExtreme</name>
        <choiceText>Extremo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremo</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceHigh</name>
        <choiceText>Alto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alto</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLow</name>
        <choiceText>Baixo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Baixo</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMedium</name>
        <choiceText>Médio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Médio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Em_Partes</name>
        <choiceText>Em Partes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Em Partes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Identidade_Email</name>
        <choiceText>Identidade + Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Identidade + Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Nao</stringValue>
        </value>
    </choices>
    <choices>
        <name>RedeSocial_Email</name>
        <choiceText>Redes Sociais + Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rede Social + Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <choices>
        <name>Videochamado</name>
        <choiceText>Videochamada com representante</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Videochamada</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>2470</locationX>
        <locationY>1514</locationY>
        <defaultConnector>
            <targetReference>Calculate_Score_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Score_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>In_Parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Em_Partes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Score_Em_Partes</targetReference>
            </connector>
            <label>Em Partes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Final_Risk</name>
        <label>Set Final Risk</label>
        <locationX>446</locationX>
        <locationY>2150</locationY>
        <defaultConnector>
            <targetReference>SetExtreme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extreme</defaultConnectorLabel>
        <rules>
            <name>Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLow</targetReference>
            </connector>
            <label>Low</label>
        </rules>
        <rules>
            <name>Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMedium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHigh</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Exist_RCC</name>
        <label>Validate Exist RCC</label>
        <locationX>446</locationX>
        <locationY>2558</locationY>
        <defaultConnector>
            <targetReference>Create_RCC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_RCC</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Existing_RCC</name>
        <label>Validate Existing RCC</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Risk</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Exist</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Population_Fields_Form</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Calculate_Score</name>
        <label>Verify Calculate Score</label>
        <locationX>2734</locationX>
        <locationY>1406</locationY>
        <defaultConnector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Calculates Risk</defaultConnectorLabel>
        <rules>
            <name>Calculates_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Question.Calcula_Risco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_3</targetReference>
            </connector>
            <label>Calculates Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Question</name>
        <label>Verify_Question</label>
        <locationX>2954</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Question</defaultConnectorLabel>
        <rules>
            <name>Same_Question</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Question.Pergunta__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Calculate_Score</targetReference>
            </connector>
            <label>Same Question</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>CalculateRiskInParts</name>
        <dataType>Number</dataType>
        <expression>{!Get_Risk.Risco__c} * 2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculateScoreNoFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Risk.Risco__c} * 5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>EditRiskFinal</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$UserRole.Name} = &apos;Account Manager&apos;, False, True)</expression>
    </formulas>
    <formulas>
        <name>getQuestionBySplit</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Question_and_Response}, FIND(&quot;|&quot;,{!Loop_Question_and_Response} ) - 1)</expression>
    </formulas>
    <formulas>
        <name>Label_Question_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_1}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_10</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_10}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_11</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_11}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_12</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_12}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_2}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_3}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_4</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_4}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_5</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_5}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_6</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_6}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_7</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_7}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_8</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_8}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_9</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_9}</expression>
    </formulas>
    <formulas>
        <name>Question</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Question_and_Response}, FIND(&quot;|&quot;,{!Loop_Question_and_Response} ) - 1)</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_1</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_1} &amp; &apos;|&apos; &amp; {!Question1}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_10</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_10} &amp; &apos;|&apos; &amp; {!Question10}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_11</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_11} &amp; &apos;|&apos; &amp; {!Question11}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_2</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_2} &amp; &apos;|&apos; &amp; {!Question2}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_3</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_3} &amp; &apos;|&apos; &amp; {!Question3}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_4</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_4} &amp; &apos;|&apos; &amp; {!Question4}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_5</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_5} &amp; &apos;|&apos; &amp; {!Question5}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_6</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_6} &amp; &apos;|&apos; &amp; {!Question6}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_7</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_7} &amp; &apos;|&apos; &amp; {!Question7}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_8</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_8} &amp; &apos;|&apos; &amp; {!Question8}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_9</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_9} &amp; &apos;|&apos; &amp; {!Question_9}</expression>
    </formulas>
    <formulas>
        <name>Response</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Loop_Question_and_Response}, LEN({!Loop_Question_and_Response}) - FIND(&quot;|&quot;, {!Loop_Question_and_Response}))</expression>
    </formulas>
    <formulas>
        <name>TesteFormula</name>
        <dataType>String</dataType>
        <expression>RIGHT({!QuestionAndResponse_1}, LEN({!QuestionAndResponse_1}) - FIND(&quot;|&quot;, {!QuestionAndResponse_1}))</expression>
    </formulas>
    <interviewLabel>RCC {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCC</label>
    <loops>
        <name>Loop_Question</name>
        <label>Loop Question</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Final_Risk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Question_and_Response</name>
        <label>Loop Question and Response</label>
        <locationX>2118</locationX>
        <locationY>1190</locationY>
        <collectionReference>QuestionAndResponse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_RCC</name>
        <label>Create RCC</label>
        <locationX>578</locationX>
        <locationY>2666</locationY>
        <connector>
            <targetReference>Clear_Lists</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ActivityRestricted__c</field>
            <value>
                <elementReference>SavedQuestion_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckID__c</field>
            <value>
                <elementReference>SavedQuestion_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionIsClear__c</field>
            <value>
                <elementReference>SavedQuestion_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastSales__c</field>
            <value>
                <elementReference>SavedQuestion_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchantDemand__c</field>
            <value>
                <elementReference>SavedQuestion_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PresenceMarket__c</field>
            <value>
                <elementReference>SavedQuestion_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QualityProduct__c</field>
            <value>
                <elementReference>SavedQuestion_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RealisticForecast__c</field>
            <value>
                <elementReference>SavedQuestion_8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reputation__c</field>
            <value>
                <elementReference>SavedQuestion_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>Result_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk__c</field>
            <value>
                <elementReference>FinalRisk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoNegotiated__c</field>
            <value>
                <elementReference>SavedQuestion_9</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>446</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Question</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settings_RCC__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCC</name>
        <label>Get RCC</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_Existing_RCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk</name>
        <label>Get Risk</label>
        <locationX>446</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FormularioRCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Segmento__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC_Segment__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RCC</name>
        <label>Update RCC</label>
        <locationX>314</locationX>
        <locationY>2666</locationY>
        <connector>
            <targetReference>Clear_Lists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityRestricted__c</field>
            <value>
                <elementReference>SavedQuestion_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckID__c</field>
            <value>
                <elementReference>SavedQuestion_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionIsClear__c</field>
            <value>
                <elementReference>SavedQuestion_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastSales__c</field>
            <value>
                <elementReference>SavedQuestion_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchantDemand__c</field>
            <value>
                <elementReference>SavedQuestion_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PresenceMarket__c</field>
            <value>
                <elementReference>SavedQuestion_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QualityProduct__c</field>
            <value>
                <elementReference>SavedQuestion_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RealisticForecast__c</field>
            <value>
                <elementReference>SavedQuestion_8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reputation__c</field>
            <value>
                <elementReference>SavedQuestion_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>Result_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk__c</field>
            <value>
                <elementReference>FinalRisk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoNegotiated__c</field>
            <value>
                <elementReference>SavedQuestion_9</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
    </recordUpdates>
    <screens>
        <name>FormularioRCC</name>
        <label>Formulario RCC</label>
        <locationX>446</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PopulateListQuestionAndResponse</targetReference>
        </connector>
        <fields>
            <name>FormularioRCC_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FormularioRCC_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Segmento2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>recordId.Segmento__c</elementReference>
                    </defaultValue>
                    <fieldText>Segmento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormularioRCC_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiscoSegmento</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Risk.Risco__c</elementReference>
                    </defaultValue>
                    <fieldText>Risco Segmento</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Formulario</name>
            <fieldText>Formulário</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Formulario_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question1</name>
                    <defaultValue>
                        <stringValue>{!SavedQuestion_1}</stringValue>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_1}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question3</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question3</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_3}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question5</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question5</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_5}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question7</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question7</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_7}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question_9</name>
                    <defaultValue>
                        <stringValue>{!Question_9}</stringValue>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_9}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question12</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>{!$Label.RCC_Question_12}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Label_Question_12</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>-</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Formulario_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question2</name>
                    <defaultValue>
                        <stringValue>{!Question2}</stringValue>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_2}</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question4</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question4</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_4}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question6</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question6</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_6}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question8</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question8</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_8}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question10</name>
                    <choiceReferences>Videochamado</choiceReferences>
                    <choiceReferences>Identidade_Email</choiceReferences>
                    <choiceReferences>RedeSocial_Email</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question10</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_10}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Anexar_Imagem</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Anexar Imagem</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Question11</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Question11</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.RCC_Question_11}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>1 OR 2</conditionLogic>
                        <conditions>
                            <leftValueReference>Question10</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Identidade_Email</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Question10</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RedeSocial_Email</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Resultado</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Pontuacao</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Result_Score</elementReference>
                    </defaultValue>
                    <fieldText>Pontuação</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Resultado_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiscoFinal</name>
                    <choiceReferences>ChoiceLow</choiceReferences>
                    <choiceReferences>ChoiceMedium</choiceReferences>
                    <choiceReferences>ChoiceHigh</choiceReferences>
                    <choiceReferences>ChoiceExtreme</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>FinalRisk</elementReference>
                    </defaultValue>
                    <fieldText>Risco</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditRiskFinal</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Result_Score</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>-1.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_RCC</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>FinalRisk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionAndResponse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>Result_Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SavedQuestion_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
