force-app/main/default/flows/RCC_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Filled_Toast_Message</name>
        <label>Filled Toast Message</label>
        <locationX>842</locationX>
        <locationY>4406</locationY>
        <actionName>c:ShowToastFlow</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Clear_Lists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Forms submitted for legal approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Not_Filled_Toast_Message</name>
        <label>Not Filled Toast Message</label>
        <locationX>1106</locationX>
        <locationY>4406</locationY>
        <actionName>c:ShowToastFlow</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Clear_Lists</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>message</name>
            <value>
                <stringValue>Waiting for KYC to send to legal approval</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:ShowToastFlow</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Legal_Status</name>
        <label>Assign Legal Status</label>
        <locationX>1062</locationX>
        <locationY>3374</locationY>
        <assignmentItems>
            <assignToReference>Get_RCC.LegalApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>block_editing</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assignment_Results_Questions</name>
        <label>Assignment Results Questions</label>
        <locationX>974</locationX>
        <locationY>3158</locationY>
        <assignmentItems>
            <assignToReference>SavedQuestion_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question_9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risk</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_11</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Question11</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_RCC.LegalApprovalStatus__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Was_RCC_already_sent_to_approval</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>block_editing</name>
        <label>block editing</label>
        <locationX>974</locationX>
        <locationY>3566</locationY>
        <assignmentItems>
            <assignToReference>EditFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RCC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Score_Em_Partes</name>
        <label>Calculate Score Em Partes</label>
        <locationX>2470</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateRiskInParts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Score_No</name>
        <label>Calculate Score No</label>
        <locationX>2734</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CalculateScoreNoFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Calculate_Score_Yes</name>
        <label>Calculate Score Yes</label>
        <locationX>2206</locationX>
        <locationY>2246</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_Risk.Risco__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Change_Risk_Score</name>
        <label>Change Risk / Score</label>
        <locationX>1502</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>SavedFinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Risco_Final</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Clear_Lists</name>
        <label>Clear Lists</label>
        <locationX>974</locationX>
        <locationY>4598</locationY>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>RemoveAll</operator>
            <value>
                <elementReference>QuestionAndResponse</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Clear_Score</name>
        <label>Clear Score</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Liberate_Edit_Fields</name>
        <label>Liberate Edit Fields</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>EditFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Population_Fields_Form_Edit</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PopulateListQuestionAndResponse</name>
        <label>Populate List Question And Response</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_5</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_6</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_7</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_8</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_9</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_10</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuestionAndResponse</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QuestionAndResponse_11</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clear_Score</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Population_Fields_Form</name>
        <label>Population Fields Form</label>
        <locationX>1106</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>SavedQuestion_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.MerchantDemand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ForecastSales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.DescriptionIsClear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.QualityProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ActivityRestricted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.PresenceMarket__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Reputation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.RealisticForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.WhoNegotiated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.CheckID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedFinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Final_Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_11</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ContactDirectOrBusinessMail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Revision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>EditFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.EditQuestions__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Population_Fields_Form_Edit</name>
        <label>Population Fields Form</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>SavedQuestion_1</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.MerchantDemand__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_2</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ForecastSales__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_3</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.DescriptionIsClear__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_4</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.QualityProduct__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_5</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ActivityRestricted__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_6</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.PresenceMarket__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_7</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Reputation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_8</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.RealisticForecast__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_9</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.WhoNegotiated__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_10</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.CheckID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Result_Score</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Result__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedFinalRisk</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Final_Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SavedQuestion_11</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ContactDirectOrBusinessMail__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Revision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.Revision__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReclameAquiURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RCC.ReclameAqui_URL__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Risk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Edit</name>
        <label>Set Edit</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>EditFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateListQuestionAndResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Edit_False_2</name>
        <label>Set Edit False 2</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>EditFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateListQuestionAndResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Edit_Fields</name>
        <label>Set Edit Fields</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>EditFields</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PopulateListQuestionAndResponse</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Revision_Extreme</name>
        <label>Set Revision Extreme</label>
        <locationX>1898</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Revision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OneMonth</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevisionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateExtreme</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Revision_High</name>
        <label>Set Revision High</label>
        <locationX>1634</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Revision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ThreeMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevisionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateHigh</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Revision_Low</name>
        <label>Set Revision Low</label>
        <locationX>1106</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Revision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TwelveMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevisionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateLow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Revision_Medium</name>
        <label>Set Revision Medium</label>
        <locationX>1370</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>Revision</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SixMonths</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RevisionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateMedium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetExtreme</name>
        <label>SetExtreme</label>
        <locationX>842</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Extremo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetHigh</name>
        <label>SetHigh</label>
        <locationX>578</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Alto</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetLow</name>
        <label>SetLow</label>
        <locationX>50</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Baixo</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SetMedium</name>
        <label>SetMedium</label>
        <locationX>314</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>Risk</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Médio</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>ChoiceExtreme</name>
        <choiceText>Extremo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extremo</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceHigh</name>
        <choiceText>Alto</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alto</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceLow</name>
        <choiceText>Baixo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Baixo</stringValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceMedium</name>
        <choiceText>Médio</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Médio</stringValue>
        </value>
    </choices>
    <choices>
        <name>Em_Partes</name>
        <choiceText>In Parts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Parts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Identidade_Email</name>
        <choiceText>Identidade + Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Identidade + Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Nao</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>RedeSocial_Email</name>
        <choiceText>Redes Sociais + Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Rede Social + Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>Teste_Selecione</name>
        <choiceText>Selecione...</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Selecione</stringValue>
        </value>
    </choices>
    <choices>
        <name>Videochamado</name>
        <choiceText>Videochamada com representante</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Videochamada</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_3</name>
        <label>Decision 3</label>
        <locationX>2470</locationX>
        <locationY>2138</locationY>
        <defaultConnector>
            <targetReference>Calculate_Score_No</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Score_Yes</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
        <rules>
            <name>In_Parts</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Em_Partes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Calculate_Score_Em_Partes</targetReference>
            </connector>
            <label>Em Partes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_KYC_Already_Filled</name>
        <label>Is KYC Already Filled</label>
        <locationX>974</locationX>
        <locationY>4298</locationY>
        <defaultConnector>
            <targetReference>Not_Filled_Toast_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Not Filled</defaultConnectorLabel>
        <rules>
            <name>Is_Filled</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>KYCStatusFromOPP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approval Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KYCStatusFromOPP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>KYCStatusFromOPP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Filled_Toast_Message</targetReference>
            </connector>
            <label>Is Filled</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Opp_National_OR_Crossborder</name>
        <label>Is Opp National OR Crossborder</label>
        <locationX>974</locationX>
        <locationY>3998</locationY>
        <defaultConnector>
            <targetReference>Get_KYC_XB_From_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Crossborder</defaultConnectorLabel>
        <rules>
            <name>National</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_KYC_NB_From_Opp</targetReference>
            </connector>
            <label>National</label>
        </rules>
    </decisions>
    <decisions>
        <name>Set_Final_Risk</name>
        <label>Set Final Risk</label>
        <locationX>446</locationX>
        <locationY>2774</locationY>
        <defaultConnector>
            <targetReference>SetExtreme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extreme</defaultConnectorLabel>
        <rules>
            <name>Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetLow</targetReference>
            </connector>
            <label>Low</label>
        </rules>
        <rules>
            <name>Medium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>6.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetMedium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Result_Score</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>75.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SetHigh</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Change_Risk_Final_Edit_Fields</name>
        <label>Validate Change Risk Final / Edit Fields</label>
        <locationX>974</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Change_Risk_Score</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change</defaultConnectorLabel>
        <rules>
            <name>Not_Change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SavedFinalRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Risco_Final</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_Edit_Fields</targetReference>
            </connector>
            <label>Not Change</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Edit_Fields</name>
        <label>Validate Edit Fields</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>PopulateListQuestionAndResponse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Change Edit Fields</defaultConnectorLabel>
        <rules>
            <name>Change_Edit_Fields</name>
            <conditionLogic>(1 AND 2 ) OR 3</conditionLogic>
            <conditions>
                <leftValueReference>EditRiskFinal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EditFields</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_RCC.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Edit_Fields</targetReference>
            </connector>
            <label>Change Edit Fields</label>
        </rules>
        <rules>
            <name>Set_editFields</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditRiskFinal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiberarAlteracoes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Edit</targetReference>
            </connector>
            <label>Set editFields</label>
        </rules>
        <rules>
            <name>Set_Edit_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EditRiskFinal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LiberarAlteracoes</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Edit_False_2</targetReference>
            </connector>
            <label>Set Edit False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_empty</name>
        <label>Validate empty</label>
        <locationX>1502</locationX>
        <locationY>1298</locationY>
        <defaultConnector>
            <targetReference>Validate_Risk_To_Create_Task</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Is Empty</defaultConnectorLabel>
        <rules>
            <name>Not_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Tasks</targetReference>
            </connector>
            <label>Not Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_RCC_Legal_Status</name>
        <label>Validate RCC Legal Status</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Population_Fields_Form</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Can Not Edt Form</defaultConnectorLabel>
        <rules>
            <name>Can_Edit_Form</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCC.LegalApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approval Requested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_RCC.LegalApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval Legal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_RCC.LegalApprovalStatus__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Liberate_Edit_Fields</targetReference>
            </connector>
            <label>Can Edit Form</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_Risk_To_Create_Task</name>
        <label>Validate Risk To Create Task</label>
        <locationX>1502</locationX>
        <locationY>1598</locationY>
        <defaultConnector>
            <targetReference>Set_Revision_Extreme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extreme</defaultConnectorLabel>
        <rules>
            <name>LowRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SavedFinalRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceLow</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Revision_Low</targetReference>
            </connector>
            <label>Low</label>
        </rules>
        <rules>
            <name>MediumRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SavedFinalRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceMedium</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Revision_Medium</targetReference>
            </connector>
            <label>Medium</label>
        </rules>
        <rules>
            <name>HighRisk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SavedFinalRisk</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceHigh</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Revision_High</targetReference>
            </connector>
            <label>High</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Calculate_Score</name>
        <label>Verify Calculate Score</label>
        <locationX>2734</locationX>
        <locationY>2030</locationY>
        <defaultConnector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Calculates Risk</defaultConnectorLabel>
        <rules>
            <name>Calculates_Risk</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Question.Calcula_Risco__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Response</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_3</targetReference>
            </connector>
            <label>Calculates Risk</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Question</name>
        <label>Verify_Question</label>
        <locationX>2954</locationX>
        <locationY>1922</locationY>
        <defaultConnector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other Question</defaultConnectorLabel>
        <rules>
            <name>Same_Question</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Question.Pergunta__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Question</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Question.Question_English__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Calculate_Score</targetReference>
            </connector>
            <label>Same Question</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_RCC_already_sent_to_approval</name>
        <label>Was RCC already sent to approval</label>
        <locationX>974</locationX>
        <locationY>3266</locationY>
        <defaultConnector>
            <targetReference>Assign_Legal_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RCC_Sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RCC.LegalApprovalStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending Approval Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>block_editing</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Teste</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ActivityRestricted__c</picklistField>
        <picklistObject>RCC__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CalculateRiskInParts</name>
        <dataType>Number</dataType>
        <expression>{!Get_Risk.Risco__c} * 2</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>CalculateScoreNoFormula</name>
        <dataType>Number</dataType>
        <expression>{!Get_Risk.Risco__c} * 5</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DateExtreme</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(today(), 1)</expression>
    </formulas>
    <formulas>
        <name>DateHigh</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(today(), 3)</expression>
    </formulas>
    <formulas>
        <name>DateLow</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(today(),12)</expression>
    </formulas>
    <formulas>
        <name>DateMedium</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS(today(),6)</expression>
    </formulas>
    <formulas>
        <name>DocumentName</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$User.LanguageLocaleKey}) = &quot;en_US&quot;, &quot;Attach Document&quot;, &quot;Anexar documento&quot;)</expression>
    </formulas>
    <formulas>
        <name>EditQuestions</name>
        <dataType>Boolean</dataType>
        <expression>IF({!EditFields},False,True)</expression>
    </formulas>
    <formulas>
        <name>EditRiskFinal</name>
        <dataType>Boolean</dataType>
        <expression>IF({!$UserRole.Name} = &apos;Legal &amp; Compliance&apos;, False, True)</expression>
    </formulas>
    <formulas>
        <name>Final_Risk</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!Get_RCC.Final_Risk__c})),TEXT({!Get_RCC.Risk__c}),TEXT({!Get_RCC.Final_Risk__c}))</expression>
    </formulas>
    <formulas>
        <name>Final_Score</name>
        <dataType>Number</dataType>
        <expression>IF(ISNULL({!Get_RCC.Final_Score__c}), {!Get_RCC.Result__c}, {!Get_RCC.Final_Score__c})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getQuestionBySplit</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Question_and_Response}, FIND(&quot;|&quot;,{!Loop_Question_and_Response} ) - 1)</expression>
    </formulas>
    <formulas>
        <name>In_Parts_Formula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$User.LanguageLocaleKey}) = &quot;en_US&quot;, &quot;In Parts&quot;, &quot;Em Partes&quot;)</expression>
    </formulas>
    <formulas>
        <name>Label_Question_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_1}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_10</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_10}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_11</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_11}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_12</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_12}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_2}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_3}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_4</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_4}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_5</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_5}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_6</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_6}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_7</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_7}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_8</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_8}</expression>
    </formulas>
    <formulas>
        <name>Label_Question_9</name>
        <dataType>String</dataType>
        <expression>{!$Label.RCC_Question_9}</expression>
    </formulas>
    <formulas>
        <name>OneMonth</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$User.LanguageLocaleKey}) = &quot;en_US&quot;, &quot;1 Month&quot;, &quot;1 Mês&quot;)</expression>
    </formulas>
    <formulas>
        <name>pontuacaoFormula</name>
        <dataType>Number</dataType>
        <expression>(
    {!segmentRiskFormula}
)
*
(
    CASE({!Question3}, {!Sim}, 1, {!Nao}, 5, {!Em_Partes}, 2, 0)
    +
    CASE({!Question4}, {!Sim}, 1, {!Nao}, 5, {!Em_Partes}, 2, 0)
    +
    CASE({!Question5}, {!Sim}, 1, {!Nao}, 5, {!Em_Partes}, 2, 0)
    +
    CASE({!Question6}, {!Sim}, 1, {!Nao}, 5, {!Em_Partes}, 2, 0)
    +
    CASE({!Question7}, {!Sim}, 1, {!Nao}, 5, {!Em_Partes}, 2, 0)
    +
    CASE({!Question8}, {!Sim}, 1, {!Nao}, 5, {!Em_Partes}, 2, 0)
)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Question</name>
        <dataType>String</dataType>
        <expression>LEFT({!Loop_Question_and_Response}, FIND(&quot;|&quot;,{!Loop_Question_and_Response} ) - 1)</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_1</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_1} &amp; &apos;|&apos; &amp; {!Question1}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_10</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_10} &amp; &apos;|&apos; &amp; {!Question10}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_11</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_11} &amp; &apos;|&apos; &amp; {!Question11}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_2</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_2} &amp; &apos;|&apos; &amp; {!Question2}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_3</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_3} &amp; &apos;|&apos; &amp; {!Question3}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_4</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_4} &amp; &apos;|&apos; &amp; {!Question4}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_5</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_5} &amp; &apos;|&apos; &amp; {!Question5}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_6</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_6} &amp; &apos;|&apos; &amp; {!Question6}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_7</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_7} &amp; &apos;|&apos; &amp; {!Question7}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_8</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_8} &amp; &apos;|&apos; &amp; {!Question8}</expression>
    </formulas>
    <formulas>
        <name>QuestionAndResponse_9</name>
        <dataType>String</dataType>
        <expression>{!Label_Question_9} &amp; &apos;|&apos; &amp; {!Question_9}</expression>
    </formulas>
    <formulas>
        <name>Response</name>
        <dataType>String</dataType>
        <expression>RIGHT({!Loop_Question_and_Response}, LEN({!Loop_Question_and_Response}) - FIND(&quot;|&quot;, {!Loop_Question_and_Response}))</expression>
    </formulas>
    <formulas>
        <name>revisaoFormula</name>
        <dataType>String</dataType>
        <expression>CASE(
{!Risco_Final},
&quot;Low&quot;, &quot;1 Year&quot;,
&quot;Medium&quot;, &quot;6 Months&quot;,
&quot;High&quot;, &quot;3 Months&quot;,
&quot;Extreme&quot;, &quot;1 Month&quot;,
&quot;No review yet&quot;
)</expression>
    </formulas>
    <formulas>
        <name>riscoSugeridoFormula</name>
        <dataType>String</dataType>
        <expression>IF(
    {!pontuacaoFormula} &lt;= 6, 
    &quot;Low&quot;, 
    IF(
        {!pontuacaoFormula} &lt;= 12, 
        &quot;Medium&quot;, 
        IF(
            {!pontuacaoFormula} &lt;= 75, 
            &quot;High&quot;, 
            &quot;Extreme&quot;
        )
    )
)</expression>
    </formulas>
    <formulas>
        <name>segmentRiskFormula</name>
        <dataType>Number</dataType>
        <expression>CASE(
        {!Get_Opportunity.Segmento__c},
        &quot;Acessórios&quot;, 2,
        &quot;Conteúdo Adulto&quot;, 150,
        &quot;Bares e Restaurantes&quot;, 2,
        &quot;Bebidas&quot;, 1,
        &quot;Vestuário&quot;, 2,
        &quot;Construção civil&quot;, 2,
        &quot;Cosméticos&quot;, 2,
        &quot;Criptomoedas&quot;, 150,
        &quot;Decoração&quot;, 2,
        &quot;Digital&quot;, 1,
        &quot;Dropshipping&quot;, 2,
        &quot;Educação&quot;, 1,
        &quot;E-learning&quot;, 1,
        &quot;Eletronics&quot;, 5,
        &quot;Eventos&quot;, 150,
        &quot;Alimentos&quot;, 1,
        &quot;Food &amp; Beverage&quot;, 1,
        &quot;Calçados&quot;, 1,
        &quot;Móveis e/ou eletrodomésticos&quot;, 2,
        &quot;Jogos de azar e apostas&quot;, 150,
        &quot;Gaming&quot;, 2,
        &quot;Grocery&quot;, 1,
        &quot;Home Appliances&quot;, 2,
        &quot;Hotéis&quot;, 5,
        &quot;Joias/Relógios&quot;, 2,
        &quot;Marketplace&quot;, 2,
        &quot;PSP&quot;, 2,
        &quot;Pet&quot;, 1,
        &quot;Restaurantes&quot;, 1,
        &quot;Sexshop&quot;, 1,
        &quot;Software/Saas B2B&quot;, 1,
        &quot;Papelaria&quot;, 1,
        &quot;Suplementos/Farmacêuticos&quot;, 2,
        &quot;Integrador Técnico&quot;, 1,
        &quot;Turismo&quot;, 5,
        &quot;Outros&quot;, 5,
        0
    )</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>SixMonths</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$User.LanguageLocaleKey}) = &quot;en_US&quot;, &quot;6 Months&quot;, &quot;6 Meses&quot;)</expression>
    </formulas>
    <formulas>
        <name>TesteFormula</name>
        <dataType>String</dataType>
        <expression>RIGHT({!QuestionAndResponse_1}, LEN({!QuestionAndResponse_1}) - FIND(&quot;|&quot;, {!QuestionAndResponse_1}))</expression>
    </formulas>
    <formulas>
        <name>ThreeMonths</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$User.LanguageLocaleKey}) = &quot;en_US&quot;, &quot;3 Months&quot;, &quot;3 Meses&quot;)</expression>
    </formulas>
    <formulas>
        <name>TwelveMonths</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$User.LanguageLocaleKey}) = &quot;en_US&quot;, &quot;12 Months&quot;, &quot;12 Meses&quot;)</expression>
    </formulas>
    <formulas>
        <name>Yes_Formula</name>
        <dataType>String</dataType>
        <expression>IF(TEXT({!$User.LanguageLocaleKey}) = &quot;en_US&quot;, &quot;Yes&quot;, &quot;Sim&quot;)</expression>
    </formulas>
    <interviewLabel>RCC Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RCC Form (NEW)</label>
    <loops>
        <name>Loop_Question</name>
        <label>Loop Question</label>
        <locationX>446</locationX>
        <locationY>1706</locationY>
        <collectionReference>Get_Questions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Loop_Question_and_Response</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_Final_Risk</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Question_and_Response</name>
        <label>Loop Question and Response</label>
        <locationX>2118</locationX>
        <locationY>1814</locationY>
        <collectionReference>QuestionAndResponse</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Question</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Question</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>1502</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>Assignment_Results_Questions</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>RevisionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>RCC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Tasks</name>
        <label>Delete Tasks</label>
        <locationX>1370</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Validate_Risk_To_Create_Task</targetReference>
        </connector>
        <inputReference>Get_Tasks</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_KYC_NB_From_Opp</name>
        <label>Get KYC NB From Opp</label>
        <locationX>842</locationX>
        <locationY>4106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_KYC_Already_Filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>KYC__c</object>
        <outputAssignments>
            <assignToReference>KYCStatusFromOPP</assignToReference>
            <field>Legal_Approval_Status__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_KYC_XB_From_Opp</name>
        <label>Get KYC XB From Opp</label>
        <locationX>1106</locationX>
        <locationY>4106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_KYC_Already_Filled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <object>KYC_XB__c</object>
        <outputAssignments>
            <assignToReference>KYCStatusFromOPP</assignToReference>
            <field>LegalApprovalStatus__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Questions</name>
        <label>Get Questions</label>
        <locationX>446</locationX>
        <locationY>1598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Question</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Settings_RCC__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCC</name>
        <label>Get RCC</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_RCC_Legal_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk</name>
        <label>Get Risk</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>FormularioRCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Segmento__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC_Segment__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tasks</name>
        <label>Get Tasks</label>
        <locationX>1502</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validate_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RCC</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Updated_or_Created_RCC</name>
        <label>Get Updated or Created RCC</label>
        <locationX>974</locationX>
        <locationY>3782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Updating_RCC_Legal_Approval_Status_on_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_RCC</name>
        <label>Update RCC</label>
        <locationX>974</locationX>
        <locationY>3674</locationY>
        <connector>
            <targetReference>Get_Updated_or_Created_RCC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ActivityRestricted__c</field>
            <value>
                <elementReference>SavedQuestion_5</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CheckID__c</field>
            <value>
                <elementReference>SavedQuestion_10</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactDirectOrBusinessMail__c</field>
            <value>
                <elementReference>SavedQuestion_11</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DescriptionIsClear__c</field>
            <value>
                <elementReference>SavedQuestion_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EditQuestions__c</field>
            <value>
                <elementReference>EditFields</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Final_Risk__c</field>
            <value>
                <elementReference>Risco_Final</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ForecastSales__c</field>
            <value>
                <elementReference>SavedQuestion_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LegalApprovalStatus__c</field>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MerchantDemand__c</field>
            <value>
                <elementReference>SavedQuestion_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PresenceMarket__c</field>
            <value>
                <elementReference>SavedQuestion_6</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QualityProduct__c</field>
            <value>
                <elementReference>SavedQuestion_4</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RealisticForecast__c</field>
            <value>
                <elementReference>SavedQuestion_8</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ReclameAqui_URL__c</field>
            <value>
                <elementReference>ReclameAqui_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reputation__c</field>
            <value>
                <elementReference>SavedQuestion_7</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Result__c</field>
            <value>
                <elementReference>Result_Score</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Revision__c</field>
            <value>
                <elementReference>Revision</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk__c</field>
            <value>
                <elementReference>Risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Media_URL__c</field>
            <value>
                <elementReference>Social_media_URL</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoNegotiated__c</field>
            <value>
                <elementReference>SavedQuestion_9</elementReference>
            </value>
        </inputAssignments>
        <object>RCC__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Updating_RCC_Legal_Approval_Status_on_Opportunity</name>
        <label>Updating RCC Legal Approval Status on Opportunity</label>
        <locationX>974</locationX>
        <locationY>3890</locationY>
        <connector>
            <targetReference>Is_Opp_National_OR_Crossborder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OpportunityRCCLegalApprovalStatus__c</field>
            <value>
                <elementReference>Get_Updated_or_Created_RCC.LegalApprovalStatus__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>FormularioRCC</name>
        <label>RCC Form</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Validate_Change_Risk_Final_Edit_Fields</targetReference>
        </connector>
        <fields>
            <name>RCC_Form_Title</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 20px;&quot;&gt;RCC Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FormularioRCC_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>FormularioRCC_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Segmento2</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Opportunity.Segmento__c</elementReference>
                    </defaultValue>
                    <fieldText>Segment (Industry)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>FormularioRCC_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RiscoSegmento</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>segmentRiskFormula</elementReference>
                    </defaultValue>
                    <fieldText>Segment Risk</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <booleanValue>true</booleanValue>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Formulario</name>
            <fieldText>Form</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Formulario_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question1</name>
                    <defaultValue>
                        <stringValue>{!SavedQuestion_1}</stringValue>
                    </defaultValue>
                    <fieldText>How is the merchant&apos;s demand generated?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question3</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_3</elementReference>
                    </defaultValue>
                    <fieldText>Is the description of the product/service sent or made avaiable clear?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question5</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_5</elementReference>
                    </defaultValue>
                    <fieldText>Any activity carried out with products/services restricted by PagBrasil&apos;s policies?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question7</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_7</elementReference>
                    </defaultValue>
                    <fieldText>Does the merchant have a good reputation in the market?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>ReclameAqui_URL</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>ReclameAquiURL</elementReference>
                    </defaultValue>
                    <fieldText>ReclameAqui URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Question7</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Question_9</name>
                    <defaultValue>
                        <stringValue>{!SavedQuestion_9}</stringValue>
                    </defaultValue>
                    <fieldText>Who was the negotiation with?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Formulario_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Question2</name>
                    <defaultValue>
                        <stringValue>{!SavedQuestion_2}</stringValue>
                    </defaultValue>
                    <fieldText>How will the sales forecast be achieved?</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question4</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_4</elementReference>
                    </defaultValue>
                    <fieldText>Can the product/services be considered of good quality?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question6</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_6</elementReference>
                    </defaultValue>
                    <fieldText>Does the merchant already have a presence in the market?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question8</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Em_Partes</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_8</elementReference>
                    </defaultValue>
                    <fieldText>Is the expected sales forecast realistic for this product/service category?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Question10</name>
                    <choiceReferences>Videochamado</choiceReferences>
                    <choiceReferences>Identidade_Email</choiceReferences>
                    <choiceReferences>RedeSocial_Email</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_10</elementReference>
                    </defaultValue>
                    <fieldText>How was the ID Check conducted with the legal representative?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Social_media_URL</name>
                    <dataType>String</dataType>
                    <fieldText>Social media URL</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Question10</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>RedeSocial_Email</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Anexar_Documento</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>DocumentName</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Opportunity.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>disabled</name>
                        <value>
                            <elementReference>EditQuestions</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Question11</name>
                    <choiceReferences>Sim</choiceReferences>
                    <choiceReferences>Nao</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>SavedQuestion_11</elementReference>
                    </defaultValue>
                    <fieldText>Do we have direct contact or was the legal representative&apos;s business email provided during KYC?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditQuestions</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Question10</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <elementReference>Videochamado</elementReference>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>Question10</leftValueReference>
                            <operator>IsNull</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>Resultado</name>
            <fieldText>Result</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Resultado_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Score</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(134, 134, 134);&quot;&gt;Score: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!pontuacaoFormula}﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Risco_Sugerido</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(134, 134, 134);&quot;&gt;Suggested risk: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!riscoSugeridoFormula} &lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>LiberarAlteracoes</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <elementReference>EditFields</elementReference>
                    </defaultValue>
                    <fieldText>Allow Changes</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditRiskFinal</elementReference>
                    </isDisabled>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>EditRiskFinal</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>false</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Resultado_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Risco_Final</name>
                    <choiceReferences>ChoiceLow</choiceReferences>
                    <choiceReferences>ChoiceMedium</choiceReferences>
                    <choiceReferences>ChoiceHigh</choiceReferences>
                    <choiceReferences>ChoiceExtreme</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>riscoSugeridoFormula</elementReference>
                    </defaultValue>
                    <fieldText>Final Risk</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;Only Legal &amp;amp; Compliance can edit&lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isDisabled>
                        <elementReference>EditRiskFinal</elementReference>
                    </isDisabled>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>RevisionFormula</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(134, 134, 134);&quot;&gt;Revision: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!revisaoFormula}﻿&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Created</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DateTask</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EditFields</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>KYCStatusFromOPP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuestionAndResponse</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReclameAquiURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Result_Score</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>Revision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RevisionDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Risk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedFinalRisk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedFinalScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SavedQuestion_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_10</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_11</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_4</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_5</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_6</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_7</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_8</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedQuestion_9</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SavedRisk</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
