force-app/main/default/flows/SendHomologationForm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Enviar_E_mail</name>
        <label>Enviar E-mail</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>HomologationFormSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>language</name>
            <value>
                <stringValue>pt_BR</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>Para_quem_deseja_enviar_o_e_mail.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomologationFormSendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <actionName>HomologationFormSendEmail</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>language</name>
            <value>
                <stringValue>en_US</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipient</name>
            <value>
                <elementReference>SendEmailTo.selectedChoiceValues</elementReference>
            </value>
        </inputParameters>
        <nameSegment>HomologationFormSendEmail</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Existe_form</name>
        <label>Existe form</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existent_Form</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Language</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Language</name>
        <label>Language</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>SelectContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>EN_US</defaultConnectorLabel>
        <rules>
            <name>PT_BR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>pt_BR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Selecionar_Contato</targetReference>
            </connector>
            <label>PT_BR</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Account_Model_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AccountModel__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bank_Slip_Email_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BankSlipEmailService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Bank_Slip_SMS_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BankSlipSmsService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Credit_Card_Recurrence_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CreditCardRecurrence__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Installment_Recurrence_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>InstallmentRecurrence__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Packages</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EmailPackage__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Alert_Choices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentAlert__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Confirmation_Email_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentConfirmationEmailService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pix_Email_Service_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PixEmailService__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pod_reminder_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PodReminder__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RelatedContacts</name>
        <dataType>String</dataType>
        <displayField>Email</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Transaction_Type_Values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>TransactionType__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Yes_Or_No_values</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AutomaticCancellation__c</picklistField>
        <picklistObject>HomologationForm__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SendHomologationForm {!$Flow.CurrentDateTime}</interviewLabel>
    <isTemplate>true</isTemplate>
    <label>SendHomologationForm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Existent_Form</name>
        <label>Get Existent Form</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Existe_form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HomologationForm__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Existent_Form</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Selecionar_Contato</name>
        <label>Selecionar Contato</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Enviar_E_mail</targetReference>
        </connector>
        <fields>
            <name>Para_quem_deseja_enviar_o_e_mail</name>
            <choiceReferences>RelatedContacts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Para quem deseja enviar o e-mail?</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>SelectContact</name>
        <label>Select Contact</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <fields>
            <name>SendEmailTo</name>
            <choiceReferences>RelatedContacts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Who do you want to send the email to?</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FormHomologation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>HomologationForm__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
