force-app/main/default/flows/Submit_KYC_or_RCC_for_Approval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Submit_NB_KYC_For_Approval</name>
        <label>Submit NB KYC for approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Was_RCC_Submitted_For_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_NB_KYC_From_Opp.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>NB_KYC_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_RCC_For_Approval</name>
        <label>Submit RCC for approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_RCC_From_Opp.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>RCC_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_XB_KYC_For_Approval</name>
        <label>Submit XB KYC for approval</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>Was_RCC_Submitted_For_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>Get_XB_KYC_From_Opp.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>nextApproverIds</name>
        </inputParameters>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>XB_KYC_Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>skipEntryCriteria</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Opp_National_or_Crossborder</name>
        <label>Is opp national or crossborder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_XB_KYC_From_Opp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Crossborder</defaultConnectorLabel>
        <rules>
            <name>National</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>National</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_NB_KYC_From_Opp</targetReference>
            </connector>
            <label>National</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_KYC_Submitted_For_Approval</name>
        <label>Was KYC submitted for approval?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Was_RCC_Submitted_For_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_KYC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectToSubmitForApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>KYC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Opp_National_or_Crossborder</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Was_RCC_Submitted_For_Approval</name>
        <label>Was RCC submitted for approval?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_RCC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objectToSubmitForApproval</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>RCC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_RCC_From_Opp</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>objectToSubmitForApproval</name>
        <dataType>String</dataType>
        <expression>IF(
  TEXT({!$Record.OpportunityKYCLegalApprovalStatus__c}) != TEXT({!$Record__Prior.OpportunityKYCLegalApprovalStatus__c}), 
  &quot;KYC&quot;, 
  IF(
    TEXT({!$Record.OpportunityRCCLegalApprovalStatus__c}) != TEXT({!$Record__Prior.OpportunityRCCLegalApprovalStatus__c}),
    &quot;RCC&quot;,
    &quot;&quot;
  )
)</expression>
    </formulas>
    <interviewLabel>Submit KYC or RCC for approval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Submit KYC or RCC for approval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NB_KYC_From_Opp</name>
        <label>Get NB KYC from opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_NB_KYC_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC_NB__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RCC_From_Opp</name>
        <label>Get RCC from opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_RCC_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RCC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_XB_KYC_From_Opp</name>
        <label>Get XB KYC from opp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Submit_XB_KYC_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>KYC_XB__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Was_KYC_Submitted_For_Approval</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>OpportunityKYCLegalApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </filters>
        <filters>
            <field>OpportunityRCCLegalApprovalStatus__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approval Requested</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
